


<ul>
  <li> name: <%= @task.name %> </li>
  <li> description: <%= @task.description %> </li>
  <li> status: <%= @task.status ? "completed" : "incomplete"%></li>
  <li> date completed: <%= @task.date %> </li>
</ul>
