/*
<<<<<<< Updated upstream
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
body {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
  font-family: Mathlete-Skinny;
  text-align: justify;
  text-decoration: none;
  list-style-type: none;
  background-color: #fc00ff;
  background: -webkit-linear-gradient(to left, #fc00ff , #00dbde);
  background: linear-gradient(to left, #fc00ff , #00dbde);
}

  li a{
    list-style-type: none;
    text-decoration: none;
  }


ul li{
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Mathlete-Skinny;
  src: url(mathlete/Mathlete-Skinny.otf);
}
@font-face {
  font-family: Mathlete-SkinnySlant;
  src: url(mathlete/Mathlete-SkinnySlant.otf);
}
@font-face {
  font-family: Lekton-Italic;
  src: url(./fonts/lekton/Lekton-Italic.ttf);

  @font-face {
    font-family: AlexBrush-Regular;
    src: url(./fonts/alex-brush/AlexBrush-Regular.ttf);
  }
  @font-face {
    font-family: JosefinSlab-Thin;
    src: url(./fonts/josefin-slab/JosefinSlab-Thin.ttf);
  }

  p{
    text-align: left;
    font-size: 2rem;
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 300px;
    font-family: Mathlete-Skinny;
    font-weight: 200;
  }

  html, body { height: 100%; }

  .title{
    font-family: AlexBrush-Regular;
    text-align: center;
  }

  .img {

    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  .navigation {
    z-index: 30;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: papayawhip;
  }

  .link {
    font-family: Raleway-LightItalic;
    text-decoration: underline;
  }

  a:-webkit-any-link {
    color: #18ffff;
    text-decoration: underline;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

    a:hover {
      background-color: #90caf9;
      color: #18ffff;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
